# Python
# *.egg-info
*.pyc
.coverage
.flake8
.mypy_cache/
.pytest_cache/
.ruff_cache/
# /build/
/uv.lock
__pycache__
htmlcov/
build/*
*.egg-info/*

# Virtual environments
*/.venv
/.venv
/venv

# Editors
/.vscode
/.idea

# Other
/_*
!.gitignore
